Repository matthewdeaves/cookie: changes, and which pre-commit hooks are due for each by the changed paths.
All: legacy-eslint, frontend-eslint, frontend-typecheck

legacy-eslint:
  name: Legacy Lint (ESLint ES5)
  entry: npx eslint --config apps/legacy/static/legacy/.eslintrc.json --ext .js --max-warnings 0
  language: system
  pass_filenames: true

frontend-eslint:
  name: Frontend Lint (ESLint)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend Type Check (TypeScript)
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

feat: Security hardening, search caching, dev tooling
  .secrets.baseline
  CLAUDE.md
  apps/ai/api.py
  apps/ai/api_remix.py
  apps/ai/api_scaling.py
  apps/ai/tests.py
  apps/profiles/api.py
  apps/recipes/api.py
  apps/recipes/api_user.py
  apps/recipes/sources_api.py
  cookie/settings.py
  docker-compose.yml
  entrypoint.sh
  pyproject.toml
  requirements-dev.txt
Due: none

fix: Update tests for auth-protected endpoints and search caching
  apps/recipes/api.py
  tests/test_profiles_api.py
  tests/test_rate_limiting.py
  tests/test_recipes_api.py
Due: none

Security hardening, search caching, dev tooling (#49)
  .secrets.baseline
  CLAUDE.md
  apps/ai/api.py
  apps/ai/api_remix.py
  apps/ai/api_scaling.py
  apps/ai/tests.py
  apps/profiles/api.py
  apps/recipes/api.py
  apps/recipes/api_user.py
  apps/recipes/sources_api.py
  cookie/settings.py
  docker-compose.yml
  entrypoint.sh
  pyproject.toml
  requirements-dev.txt
  tests/test_profiles_api.py
  tests/test_rate_limiting.py
  tests/test_recipes_api.py
Due: none

fix: Update Claude Code PR review — write permissions, better prompt
  .github/workflows/claude-code-review.yml
Due: none

chore: Add script to clean root-owned Docker artifacts
  bin/clean-docker-artifacts
Due: none

docs: Add dual-mode auth feature spec, plan, and tasks
  specs/011-dual-mode-auth/checklists/requirements.md
  specs/011-dual-mode-auth/contracts/admin-cli.md
  specs/011-dual-mode-auth/contracts/auth-api.md
  specs/011-dual-mode-auth/contracts/logging-monitoring.md
  specs/011-dual-mode-auth/contracts/permission-map.md
  specs/011-dual-mode-auth/data-model.md
  specs/011-dual-mode-auth/plan.md
  specs/011-dual-mode-auth/research.md
  specs/011-dual-mode-auth/spec.md
  specs/011-dual-mode-auth/tasks.md
Due: none

docs: Create project constitution v1.0.0
  .specify/memory/constitution.md
Due: none

fix: CI auth test mode and frontend coverage threshold
  .github/workflows/ci.yml
  frontend/src/test/AuthContext.test.tsx
Due: frontend-eslint, frontend-typecheck

fix: Update OpenRouter SDK usage for v0.7+ API changes
  apps/ai/services/openrouter.py
  docker-compose.yml
Due: none

fix: Increase API key test/save rate limits from 5/h to 20/h
  apps/ai/api.py
Due: none

fix: CSRF cookie, OpenRouter SDK v0.7 compat, default model update
  .gitignore
  apps/ai/models.py
  apps/ai/services/openrouter.py
  apps/core/api.py
  apps/core/models.py
  entrypoint.sh
Due: none

fix: Multiple UI/UX bugs across both frontends
  apps/ai/api_discover.py
  apps/ai/services/discover.py
  apps/legacy/static/legacy/css/collections.css
  apps/legacy/static/legacy/css/components.css
  apps/legacy/static/legacy/css/recipe-detail.css
  apps/legacy/static/legacy/js/app.js
  apps/legacy/static/legacy/js/pages/home.js
  apps/legacy/templates/legacy/collections.html
  apps/legacy/templates/legacy/partials/recipe_card.html
  apps/recipes/api.py
  apps/recipes/api_user.py
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/screens/Collections.tsx
  frontend/src/screens/Home.tsx
Due: legacy-eslint, frontend-eslint, frontend-typecheck

docs: Add 012-filter-search-results spec, plan, and tasks
  .claude/commands/speckit.clarify.md
  .claude/commands/speckit.constitution.md
  .claude/commands/speckit.implement.md
  .claude/commands/speckit.plan.md
  .claude/commands/speckit.specify.md
  .claude/commands/speckit.tasks.md
  CLAUDE.md
Due: none

feat: Filter non-recipe search results, favorite toggle, Import button alignment
  apps/legacy/static/legacy/js/pages/home.js
  apps/legacy/templates/legacy/home.html
  apps/recipes/services/search_parsers.py
  frontend/src/screens/Home.tsx
  frontend/src/screens/Search.tsx
  tests/test_search.py
Due: legacy-eslint, frontend-eslint, frontend-typecheck

fix: TypeScript build error in Home.tsx onClick handler
  frontend/src/screens/Home.tsx
Due: frontend-eslint, frontend-typecheck

fix: Update rate limit tests for 20/h limits, add missing migrations
  apps/ai/migrations/0010_alter_aiprompt_model.py
  apps/core/migrations/0002_alter_appsettings_default_ai_model.py
  tests/test_rate_limiting.py
Due: none

chore: Update security scanning tools and suppress false positives
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .secrets.baseline
  apps/recipes/services/fingerprint.py
  frontend/package-lock.json
  frontend/package.json
Due: none

feat: Add Mailpit email testing and fix Gitleaks CI false positives
  .gitleaks.toml
  CLAUDE.md
  cookie/settings.py
  docker-compose.mailpit.yml
Due: none

docs: Fix inaccuracies in CLAUDE.md
  CLAUDE.md
Due: none

security: Harden supply chain and branch protection
  .github/dependabot.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  Dockerfile
  Dockerfile.prod
  SECURITY.md
  requirements-ci.txt
  requirements.lock
  requirements.txt
Due: none

fix: Correct typhonjs-escomplex version pin to 0.1.0
  .github/workflows/ci.yml
Due: none

fix: Resolve npm audit vulnerabilities (picomatch, brace-expansion)
  frontend/package-lock.json
Due: none

feat: Add AUTH_MODE=passkey for WebAuthn passkey-only authentication
  CLAUDE.md
  apps/core/api.py
  apps/core/auth.py
  apps/core/auth_api.py
  apps/core/auth_helpers.py
  apps/core/device_code_api.py
  apps/core/management/commands/cleanup_device_codes.py
  apps/core/management/commands/cookie_admin.py
  apps/core/migrations/0003_passkey_webauthn_devicecode.py
  apps/core/migrations/0004_passkey_model_fixes.py
  apps/core/models.py
  apps/core/passkey_api.py
  apps/legacy/static/legacy/js/pages/device-pair.js
  apps/legacy/templates/legacy/device_pair.html
  apps/legacy/urls.py
  apps/legacy/views.py
  cookie/settings.py
  cookie/urls.py
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/components/DeviceCodeEntry.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/lib/webauthn.ts
  frontend/src/router.tsx
  frontend/src/screens/PairDevice.tsx
  frontend/src/screens/PasskeyLogin.tsx
  frontend/src/screens/PasskeyManage.tsx
  frontend/src/screens/PasskeyRegister.tsx
  frontend/src/screens/Settings.tsx
  requirements.txt
Due: legacy-eslint, frontend-eslint, frontend-typecheck

fix: Migrate legacy ESLint from .eslintrc.json to flat config (ESLint 10)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  apps/legacy/static/legacy/.eslintrc.json
  apps/legacy/static/legacy/eslint.config.mjs
Due: none

chore: Track .specify/ in git and add Responsible Development policy
  .gitignore
  .specify/init-options.json
  .specify/memory/constitution.md
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/templates/agent-file-template.md
  .specify/templates/checklist-template.md
  .specify/templates/constitution-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
  CLAUDE.md
Due: none

fix: Wrap Settings test with MemoryRouter for useNavigate support
  frontend/src/test/Settings.test.tsx
Due: frontend-eslint, frontend-typecheck

test: Add tests for passkey screens, webauthn utils, and router
  frontend/src/test/PasskeyScreens.test.tsx
  frontend/src/test/router.test.tsx
  frontend/src/test/webauthn.test.ts
Due: frontend-eslint, frontend-typecheck

Path conditions:
  legacy-eslint: any of: ^apps/legacy/static/legacy/js/.*\.js$
  frontend-eslint: any of: ^frontend/src/.*\.(ts|tsx)$
  frontend-typecheck: any of: ^frontend/src/.*\.(ts|tsx)$
