Repository matthewdeaves/cookie: changes, and which pre-commit hooks are due for each by the changed paths.
All: legacy-eslint, frontend-eslint, frontend-typecheck

legacy-eslint:
  name: Legacy Lint (ESLint ES5)
  entry: npx eslint --config apps/legacy/static/legacy/.eslintrc.json --ext .js --max-warnings 0
  language: system
  pass_filenames: true

frontend-eslint:
  name: Frontend Lint (ESLint)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend Type Check (TypeScript)
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

chore: Add docker-compose.override.yml to gitignore
  .gitignore
Due: none

feat: Add shared validation module for user registration
  apps/profiles/validators.py
Due: none

feat: Add JSON auth API endpoints for profiles
  apps/profiles/api.py
Due: none

feat: Update legacy frontend for public mode auth
  apps/legacy/static/legacy/js/app.js
  apps/legacy/static/legacy/js/pages/home.js
  apps/legacy/templates/legacy/partials/nav_header.html
  apps/legacy/templates/legacy/register.html
  apps/legacy/views.py
Due: legacy-eslint

feat: Update modern frontend for JSON auth API
  frontend/src/api/client.ts
  frontend/src/components/NavHeader.tsx
  frontend/src/router.tsx
  frontend/src/screens/Register.tsx
Due: frontend-eslint, frontend-typecheck

test: Fix auth tests for environment handling
  frontend/src/test/Register.test.tsx
  tests/test_auth.py
Due: frontend-eslint, frontend-typecheck

fix: Ensure tests run in home mode regardless of environment
  .secrets.baseline
  apps/ai/tests.py
  apps/recipes/tests.py
  tests/conftest.py
  tests/test_auth.py
  tests/test_legacy_views.py
Due: none

fix: Improve search speed and fix image caching
  apps/legacy/static/legacy/js/pages/search.js
  apps/recipes/api.py
  apps/recipes/services/search.py
  frontend/src/screens/Search.tsx
Due: legacy-eslint, frontend-eslint, frontend-typecheck

fix: Extract larger search result images from srcset attributes
  apps/recipes/services/search.py
Due: none

fix: Update AllRecipes selector and fix WebP image fallback
  apps/legacy/static/legacy/js/pages/search.js
  apps/recipes/migrations/0011_update_allrecipes_selector.py
Due: legacy-eslint

fix: Await image caching before returning search results
  apps/recipes/api.py
Due: none

chore: Minor formatting update to QA skill
  .claude/skills/qa-auto/SKILL.md
Due: none

fix: QA audit fixes — search reliability, relevance filtering, image caching, migration
  .claude/skills/qa-auto/SKILL.md
  .claude/skills/qa-auto/reference.md
  CLAUDE.md
  apps/core/migrations/0001_initial.py
  apps/legacy/static/legacy/css/settings.css
  apps/legacy/static/legacy/js/pages/settings-general.js
  apps/legacy/templates/legacy/settings.html
  apps/legacy/views.py
  apps/recipes/services/fingerprint.py
  apps/recipes/services/image_cache.py
  apps/recipes/services/search.py
  tests/test_image_cache.py
Due: legacy-eslint

fix: Search abort handling and stale profile 404
  .claude/skills/qa-auto/SKILL.md
  apps/profiles/api.py
  frontend/src/api/client.ts
  frontend/src/screens/Search.tsx
  frontend/src/test/Search.test.tsx
  frontend/src/test/components.test.tsx
Due: frontend-eslint, frontend-typecheck

fix: Hide non-functional theme and units controls
  apps/legacy/templates/legacy/settings.html
  frontend/src/components/settings/SettingsGeneral.tsx
Due: frontend-eslint, frontend-typecheck

fix: TypeScript type mismatch in TimeDisplay component
  frontend/src/screens/components/RecipeHeader.tsx
Due: frontend-eslint, frontend-typecheck

fix: Install pip-audit and bandit in CI security job
  .github/workflows/ci.yml
Due: none

fix: Reliable pip-audit vulnerability detection in CI
  .github/workflows/ci.yml
Due: none

feat: Security audit remediation — harden production settings, add logging, expand CI
  .github/dependabot.yml
  .github/workflows/ci.yml
  CLAUDE.md
  Dockerfile
  apps/core/api.py
  apps/recipes/services/image_cache.py
  apps/recipes/services/scraper.py
  cookie/settings.py
  pyproject.toml
Due: none

fix: CI failures from security hardening — disable SSL redirect in tests, fix Hadolint warning
  .github/workflows/ci.yml
  Dockerfile
  cookie/settings.py
Due: none

deps: Consolidate all Dependabot updates into single commit
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  docker-compose.prod.yml
  docker-compose.yml
  frontend/package-lock.json
Due: none

fix: Add hadolint ignore for apt-get version pinning in Dockerfile.prod
  Dockerfile.prod
Due: none

docs: Update README and docs to reflect PostgreSQL, React 19, expanded CI
  README.md
  docs/ARCHITECTURE.md
  docs/DEPLOYMENT.md
Due: none

fix(cd): Update trivy-action to v0.35.0 — old SHA was removed upstream
  .github/workflows/cd.yml
Due: none

fix(cd): Remove Trivy scan from CD — already runs in CI
  .github/workflows/cd.yml
Due: none

docs: Fact-check and fix inaccuracies across all documentation
  docs/ARCHITECTURE.md
  docs/CI-METRICS.md
  docs/DATABASE-MIGRATION.md
  docs/DEPLOYMENT.md
Due: none

feat: Production hardening — rate limiting, timeouts, secure defaults, process supervision
  CLAUDE.md
  apps/ai/api.py
  apps/ai/api_discover.py
  apps/ai/api_remix.py
  apps/ai/api_scaling.py
  apps/ai/services/openrouter.py
  apps/ai/services/remix.py
  apps/ai/services/selector.py
  apps/core/api.py
  apps/core/auth.py
  apps/recipes/migrations/0012_add_title_index.py
  apps/recipes/models.py
  conftest.py
  cookie/settings.py
  cookie/urls.py
  docker-compose.prod.yml
  entrypoint.prod.sh
  entrypoint.sh
  frontend/vitest.config.ts
  nginx/nginx.prod.conf
  tests/test_device_detection.py
  tests/test_rate_limiting.py
  tests/test_system_api.py
Due: none

fix: Revert frontend coverage thresholds — not enough tests yet
  frontend/vitest.config.ts
Due: none

Path conditions:
  legacy-eslint: any of: ^apps/legacy/static/legacy/js/.*\.js$
  frontend-eslint: any of: ^frontend/src/.*\.(ts|tsx)$
  frontend-typecheck: any of: ^frontend/src/.*\.(ts|tsx)$
