Repository matthewdeaves/cookie: changes, and which pre-commit hooks are due for each by the changed paths.
All: legacy-eslint, frontend-eslint, frontend-typecheck

legacy-eslint:
  name: Legacy Lint (ESLint ES5)
  entry: npx eslint --config apps/legacy/static/legacy/.eslintrc.json --ext .js --max-warnings 0
  language: system
  pass_filenames: true

frontend-eslint:
  name: Frontend Lint (ESLint)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend Type Check (TypeScript)
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

fix: Mobile nav overflow, recipe source links, passkey avatar icon
  frontend/src/components/NavHeader.tsx
  frontend/src/screens/Search.tsx
  frontend/src/screens/components/RecipeActions.tsx
  frontend/src/screens/components/RecipeHeader.tsx
Due: frontend-eslint, frontend-typecheck

chore: Clean up ESLint warnings (19 → 0)
  frontend/eslint.config.js
  frontend/src/router.tsx
  frontend/src/screens/PlayMode.tsx
Due: frontend-eslint, frontend-typecheck

fix: Device code poll returns 500 due to SELECT FOR UPDATE on nullable outer join
  apps/core/device_code_api.py
Due: none

fix: Device code poll MultipleObjectsReturned, URL import card, hourly cleanup cron
  Dockerfile.prod
  apps/core/device_code_api.py
  apps/core/management/commands/cleanup_device_codes.py
  apps/core/management/commands/cookie_admin.py
  entrypoint.prod.sh
  frontend/src/components/URLImportCard.tsx
  frontend/src/hooks/useSearch.ts
  frontend/src/test/components.test.tsx
Due: frontend-eslint, frontend-typecheck

fix: Cron daemon crashes container — start before process supervision
  entrypoint.prod.sh
Due: none

feat: Add session and search image cleanup crons with observability
  apps/core/management/commands/cleanup_sessions.py
  apps/core/management/commands/cookie_admin.py
  apps/recipes/management/commands/cleanup_search_images.py
  entrypoint.prod.sh
Due: none

fix: Legacy frontend CSP violations, hardcoded version, cache race condition
  apps/core/cache.py
  apps/core/context_processors.py
  apps/legacy/static/legacy/js/pages/all-recipes.js
  apps/legacy/static/legacy/js/pages/play.js
  apps/legacy/static/legacy/js/pages/search.js
  apps/legacy/templates/legacy/all_recipes.html
  apps/legacy/templates/legacy/partials/nav_header.html
  apps/legacy/templates/legacy/play_mode.html
  apps/legacy/templates/legacy/search.html
  apps/legacy/templates/legacy/settings.html
  cookie/settings.py
Due: legacy-eslint

fix: Legacy UI polish — play mode layout, hero overlap, nav avatar, source links
  apps/legacy/static/legacy/css/play-mode.css
  apps/legacy/static/legacy/css/recipe-detail.css
  apps/legacy/static/legacy/js/app.js
  apps/legacy/templates/legacy/partials/nav_header.html
  apps/legacy/templates/legacy/recipe_detail.html
Due: legacy-eslint

feat: Add cookie favicon and touch icons for all devices
  apps/core/static/icons/apple-touch-icon-120x120.png
  apps/core/static/icons/apple-touch-icon-152x152.png
  apps/core/static/icons/apple-touch-icon-76x76.png
  apps/core/static/icons/apple-touch-icon.png
  apps/core/static/icons/favicon-16x16.png
  apps/core/static/icons/favicon-32x32.png
  apps/core/static/icons/favicon.ico
  apps/legacy/templates/legacy/base.html
  frontend/index.html
  frontend/public/android-chrome-192x192.png
  frontend/public/android-chrome-512x512.png
  frontend/public/apple-touch-icon-120x120.png
  frontend/public/apple-touch-icon-152x152.png
  frontend/public/apple-touch-icon-76x76.png
  frontend/public/apple-touch-icon.png
  frontend/public/favicon-16x16.png
  frontend/public/favicon-32x32.png
  frontend/public/favicon.ico
  frontend/public/site.webmanifest
Due: none

fix: Make source link clickable on legacy recipe detail page
  apps/legacy/static/legacy/css/recipe-detail.css
  apps/legacy/templates/legacy/recipe_detail.html
Due: none

fix: Resolve CodeQL path-injection and log-injection alerts
  .github/scripts/generate-dashboard.py
  .github/scripts/inject-back-links.py
  cookie/settings.py
Due: none

fix: Privacy policy accuracy and reduce sensitive data in logs
  apps/ai/services/ranking.py
  apps/core/templates/core/privacy_policy.html
  apps/recipes/services/image_cache.py
  entrypoint.prod.sh
Due: none

fix: Pin privacy policy source links to verified commit SHA
  apps/core/templates/core/privacy_policy.html
Due: none

fix: Pin privacy policy source links to v1.18.0 tag
  apps/core/templates/core/privacy_policy.html
Due: none

docs: Fact-check and clean up README
  README.md
Due: none

docs: Fact-check and update DEPLOYMENT, ARCHITECTURE, and AI-FEATURES
  docs/AI-FEATURES.md
  docs/ARCHITECTURE.md
  docs/DEPLOYMENT.md
Due: none

fix: Clear stale search filter chips on new search + share project hooks
  .claude/settings.json
  CLAUDE.md
  apps/legacy/static/legacy/js/pages/search.js
  frontend/package-lock.json
  frontend/src/hooks/useSearch.ts
Due: legacy-eslint, frontend-eslint, frontend-typecheck

chore: Clean up Claude Code hooks — remove unreliable complexity check
  .claude/hooks/complexity-check.sh
  .claude/hooks/docker-command-check.sh
  .claude/settings.json
Due: none

fix: Add missing setSelectedSource destructure in useSearch
  frontend/src/hooks/useSearch.ts
Due: frontend-eslint, frontend-typecheck

chore: Optimize Claude Code rules — path-scope and trim to 212 lines
  .claude/rules/ai-features.md
  .claude/rules/code-quality.md
  .claude/rules/django-security.md
  .claude/rules/docker-environment.md
  .claude/rules/es5-compliance.md
  .claude/rules/react-security.md
Due: none

fix: Add missing toast import in useServingScale
  frontend/src/hooks/useServingScale.ts
Due: frontend-eslint, frontend-typecheck

Path conditions:
  legacy-eslint: any of: ^apps/legacy/static/legacy/js/.*\.js$
  frontend-eslint: any of: ^frontend/src/.*\.(ts|tsx)$
  frontend-typecheck: any of: ^frontend/src/.*\.(ts|tsx)$
