Repository matthewdeaves/cookie: changes, and which pre-commit hooks are due for each by the changed paths.
All: legacy-eslint, frontend-eslint, frontend-typecheck

.pre-commit-config.yaml:

repos:
  # Secrets detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: |
          (?x)^(
            .*\.lock$|
            .*package-lock\.json$|
            \.secrets\.baseline$
          )$

  # Basic Python checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict

  # Python formatting/linting (uses existing ruff config)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Local hooks to match CI checks
  - repo: local
    hooks:
      # Legacy JavaScript linting (ES5, iOS 9 compatible)
      - id: legacy-eslint
        name: Legacy Lint (ESLint ES5)
        entry: npx eslint --config apps/legacy/static/legacy/.eslintrc.json --ext .js --max-warnings 0
        language: system
        files: ^apps/legacy/static/legacy/js/.*\.js$
        pass_filenames: true

      # Frontend ESLint
      - id: frontend-eslint
        name: Frontend Lint (ESLint)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/src/.*\.(ts|tsx)$
        pass_filenames: false

      # Frontend TypeScript type check
      - id: frontend-typecheck
        name: Frontend Type Check (TypeScript)
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/src/.*\.(ts|tsx)$
        pass_filenames: false

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

test: Add legacy utility function tests for Cookie.utils and Cookie.TimeDetect
  frontend/src/test/legacy-utils.test.ts
Due: frontend-eslint, frontend-typecheck

Add Claude Code GitHub Workflow (#18)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

fix: Exclude test files from production TypeScript build
  frontend/tsconfig.app.json
Due: none

fix: Exclude test files from coverage measurement
  pyproject.toml
Due: none

feat: Add detailed HTML report for frontend complexity
  .github/scripts/generate-backend-security-report.py
  .github/scripts/generate-dashboard.py
  .github/scripts/generate-frontend-complexity-report.js
  .github/scripts/generate-secrets-report.py
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .secrets.baseline
Due: none

feat: Add comprehensive Claude Code configuration
  .claude/README.md
  .claude/hooks/complexity-check.sh
  .claude/hooks/docker-command-check.sh
  .claude/hooks/es5-syntax-check.sh
  .claude/rules/ai-features.md
  .claude/rules/code-quality.md
  .claude/rules/django-security.md
  .claude/rules/docker-environment.md
  .claude/rules/es5-compliance.md
  .claude/rules/react-security.md
  .claude/skills/qa-session/SKILL.md
  .claude/skills/qa-session/prompt.md
  .github/workflows/claude-code-review.yml
  claude.md
Due: none

docs: Add FE-016 query classification enhancement
  .secrets.baseline
  plans/FUTURE-ENHANCEMENTS.md
Due: none

feat: Add PostgreSQL support with SQLite fallback
  .github/workflows/ci.yml
  Dockerfile.prod
  cookie/settings.py
  docker-compose.postgres.yml
  docker-compose.yml
  docs/DATABASE-MIGRATION.md
  entrypoint.prod.sh
  requirements.txt
  tests/conftest.py
  tests/test_database_config.py
  tests/test_system_api.py
Due: none

feat: Add PostgreSQL support with SQLite fallback (#29)
  .github/workflows/ci.yml
  Dockerfile.prod
  cookie/settings.py
  docker-compose.postgres.yml
  docker-compose.yml
  docs/DATABASE-MIGRATION.md
  entrypoint.prod.sh
  requirements.txt
  tests/conftest.py
  tests/test_database_config.py
  tests/test_system_api.py
Due: none

feat: Add linked recipes, multi-select remix, and iOS 9 grid fix
  apps/ai/services/remix.py
  apps/legacy/static/legacy/css/components.css
  apps/recipes/api.py
  apps/recipes/migrations/0010_add_remixed_from_field.py
  apps/recipes/models.py
  docker-compose.yml
  frontend/src/api/client.ts
  frontend/src/components/RemixModal.tsx
  frontend/src/screens/RecipeDetail.tsx
  frontend/src/test/RemixModal.test.tsx
  plans/FUTURE-ENHANCEMENTS.md
Due: frontend-eslint, frontend-typecheck

ci: Migrate from Docker Hub to GitHub Container Registry (GHCR)
  .github/workflows/cd.yml
  .github/workflows/release.yml
  README.md
  bin/prod
  docker-compose.postgres.yml
  docker-compose.prod.yml
  docs/DEPLOYMENT.md
Due: none

fix: Correct linked recipe navigation route
  frontend/src/screens/RecipeDetail.tsx
Due: frontend-eslint, frontend-typecheck

feat: Add My Recipes feature and improve legacy play mode
  apps/legacy/static/legacy/css/play-mode.css
  apps/legacy/static/legacy/css/recipe-detail.css
  apps/legacy/static/legacy/js/pages/detail-remix.js
  apps/legacy/static/legacy/js/pages/play.js
  apps/legacy/static/legacy/js/pages/search.js
  apps/legacy/templates/legacy/all_recipes.html
  apps/legacy/templates/legacy/home.html
  apps/legacy/templates/legacy/partials/recipe_card.html
  apps/legacy/templates/legacy/play_mode.html
  apps/legacy/templates/legacy/recipe_detail.html
  apps/legacy/views.py
  cookie/settings.py
  frontend/src/api/client.ts
  frontend/src/screens/AllRecipes.tsx
  frontend/src/screens/Home.tsx
  frontend/src/screens/RecipeDetail.tsx
  frontend/src/test/api.test.ts
  nginx/nginx.conf
  tests/test_legacy_views.py
Due: legacy-eslint, frontend-eslint, frontend-typecheck

fix: Improve play mode landscape layout on legacy frontend
  .github/workflows/claude.yml
  apps/legacy/static/legacy/css/play-mode.css
  apps/legacy/static/legacy/js/pages/play.js
Due: legacy-eslint

fix: Don't replace external images with spinners in legacy search
  apps/legacy/static/legacy/js/pages/search.js
Due: legacy-eslint

fix: Improve iOS 9 image handling and fix settings page error
  .gitignore
  apps/legacy/static/legacy/js/pages/search.js
  apps/legacy/views.py
  media/.gitkeep
  media/recipe_images/.gitkeep
  media/search_images/.gitkeep
Due: legacy-eslint

feat: Add persistent navigation header to all pages
  apps/legacy/static/legacy/js/pages/detail-display.js
  apps/legacy/static/legacy/js/pages/detail.js
  apps/legacy/static/legacy/js/pages/search.js
  apps/legacy/templates/legacy/all_recipes.html
  apps/legacy/templates/legacy/collection_detail.html
  apps/legacy/templates/legacy/collections.html
  apps/legacy/templates/legacy/favorites.html
  apps/legacy/templates/legacy/home.html
  apps/legacy/templates/legacy/partials/nav_header.html
  apps/legacy/templates/legacy/recipe_detail.html
  apps/legacy/templates/legacy/search.html
  apps/legacy/templates/legacy/settings.html
  frontend/src/components/NavHeader.tsx
  frontend/src/screens/AllRecipes.tsx
  frontend/src/screens/CollectionDetail.tsx
  frontend/src/screens/Collections.tsx
  frontend/src/screens/Favorites.tsx
  frontend/src/screens/Home.tsx
  frontend/src/screens/RecipeDetail.tsx
  frontend/src/screens/Search.tsx
  frontend/src/screens/Settings.tsx
  frontend/src/test/NavHeader.test.tsx
  frontend/src/test/components.test.tsx
  media/recipe_images/.gitkeep
  media/search_images/.gitkeep
  tests/test_legacy_views.py
Due: legacy-eslint, frontend-eslint, frontend-typecheck

feat: Add search bar to search results pages
  apps/legacy/templates/legacy/search.html
  frontend/src/screens/Search.tsx
  frontend/src/test/Search.test.tsx
  tests/test_legacy_views.py
Due: frontend-eslint, frontend-typecheck
