Repository matthewdeaves/cookie: changes, and which pre-commit hooks are due for each by the changed paths.
All: legacy-eslint, frontend-eslint, frontend-typecheck

legacy-eslint:
  name: Legacy Lint (ESLint ES5)
  entry: npx eslint --config apps/legacy/static/legacy/.eslintrc.json --ext .js --max-warnings 0
  language: system
  pass_filenames: true

frontend-eslint:
  name: Frontend Lint (ESLint)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend Type Check (TypeScript)
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

chore(release): bump prod compose pin to 1.62.0
  docker-compose.prod.yml
Due: none

fix(security): pin WEBAUTHN_RP_ORIGIN to prevent X-Forwarded-Host injection (F-33)
  apps/core/passkey_api.py
  cookie/settings.py
  tests/test_code_quality.py
  tests/test_passkey_api.py
Due: none

fix(security): per-type challenge created_at keys + non-sequential profile names (R23)
  apps/core/passkey_api.py
  tests/test_passkey_api.py
  tests/test_passkey_api_r23.py
Due: none

fix: media subdirectory permissions + scrape rate limit
  apps/core/management/commands/_cookie_admin_app.py
  apps/recipes/api.py
  entrypoint.prod.sh
Due: none

fix(ai): restore quota buttons after midnight reset
  frontend/src/components/RemixModal.tsx
  frontend/src/contexts/AIStatusContext.tsx
  frontend/src/hooks/useDiscoverTab.ts
  frontend/src/hooks/useServingScale.ts
  frontend/src/hooks/useTipsPolling.ts
  frontend/src/lib/utils.ts
Due: frontend-eslint, frontend-typecheck

feat: delete recipe + legacy quota/cook fixes + settings polish
  apps/ai/services/scaling.py
  apps/legacy/static/legacy/css/components.css
  apps/legacy/static/legacy/css/play-mode.css
  apps/legacy/static/legacy/css/settings.css
  apps/legacy/static/legacy/js/pages/all-recipes.js
  apps/legacy/static/legacy/js/pages/detail-core.js
  apps/legacy/static/legacy/js/pages/settings-general.js
  apps/legacy/templates/legacy/all_recipes.html
  apps/legacy/templates/legacy/settings.html
  frontend/src/api/client.ts
  frontend/src/components/RecipeCard.tsx
  frontend/src/screens/AllRecipes.tsx
Due: legacy-eslint, frontend-eslint, frontend-typecheck

fix(ci): prune only untagged digests, keep 50 versions
  .github/workflows/cd.yml
Due: none

fix(frontend): bake COOKIE_VERSION into SPA bundle (was hardcoded to 'dev')
  Dockerfile.prod
  frontend/src/router.tsx
Due: frontend-eslint, frontend-typecheck

feat: pull-to-refresh on both frontends, hide unit toggle, bump buildx
  .github/workflows/cd.yml
  apps/legacy/static/legacy/css/components.css
  apps/legacy/static/legacy/js/pages/settings-general.js
  apps/legacy/static/legacy/js/pull-to-refresh.js
  apps/legacy/templates/legacy/base.html
  apps/legacy/templates/legacy/settings.html
  apps/profiles/api.py
  frontend/src/App.tsx
  frontend/src/components/PullToRefresh.tsx
  frontend/src/components/settings/SettingsGeneral.tsx
  frontend/src/contexts/ProfileContext.tsx
  frontend/src/hooks/usePullToRefresh.ts
  tests/test_profiles_preferences_api.py
Due: legacy-eslint, frontend-eslint, frontend-typecheck

chore: bump compose image pin to 1.68.0 for upcoming release
  docker-compose.prod.yml
Due: none

feat: pull-to-refresh + hide unit toggle + buildx v4 bump (#112)
  .github/workflows/cd.yml
  apps/legacy/static/legacy/css/components.css
  apps/legacy/static/legacy/js/pages/settings-general.js
  apps/legacy/static/legacy/js/pull-to-refresh.js
  apps/legacy/templates/legacy/base.html
  apps/legacy/templates/legacy/settings.html
  apps/profiles/api.py
  docker-compose.prod.yml
  frontend/src/App.tsx
  frontend/src/components/PullToRefresh.tsx
  frontend/src/components/settings/SettingsGeneral.tsx
  frontend/src/contexts/ProfileContext.tsx
  frontend/src/hooks/usePullToRefresh.ts
  tests/test_profiles_preferences_api.py
Due: legacy-eslint, frontend-eslint, frontend-typecheck

fix(security): force letter prefix in passkey profile name suffix
  apps/core/passkey_api.py
Due: none

fix(security): force letter prefix in passkey profile name suffix (#113)
  apps/core/passkey_api.py
Due: none

fix(ui): always-visible delete button on My Recipes + cook mode alignment fixes + privacy policy update
  apps/core/templates/core/privacy_policy.html
  apps/legacy/static/legacy/css/components.css
  apps/legacy/static/legacy/css/play-mode.css
  docker-compose.prod.yml
  frontend/src/components/RecipeCard.tsx
Due: frontend-eslint, frontend-typecheck

fix(ui): polish delete button + simplify delete_recipe auth
  apps/legacy/templates/legacy/all_recipes.html
  apps/recipes/api.py
  frontend/src/components/RecipeCard.tsx
Due: frontend-eslint, frontend-typecheck

fix(ui): move delete button to top-right + fix Safari icon centering
  apps/legacy/static/legacy/css/components.css
  apps/legacy/templates/legacy/all_recipes.html
  frontend/src/components/RecipeCard.tsx
Due: frontend-eslint, frontend-typecheck

fix(legacy): fix recipe card image disappearing on touch/scroll
  apps/legacy/static/legacy/css/components.css
  apps/legacy/templates/legacy/partials/recipe_card.html
Due: none

fix(discover): fall back to cached suggestions when refresh quota exhausted
  apps/ai/api_discover.py
  tests/test_ai_discover.py
Due: none

fix(security): close open CodeQL alerts (log-injection + name-heuristic FPs)
  .github/scripts/generate-dashboard.py
  cookie/settings.py
Due: none

docs(privacy): correct passkey-mode rights + refresh permalinks to v1.72.1
  apps/core/templates/core/privacy_policy.html
  docker-compose.prod.yml
Due: none

docs(privacy): clarify "cooking history" → "recently-viewed recipe history"
  apps/core/templates/core/privacy_policy.html
Due: none

Path conditions:
  legacy-eslint: any of: ^apps/legacy/static/legacy/js/.*\.js$
  frontend-eslint: any of: ^frontend/src/.*\.(ts|tsx)$
  frontend-typecheck: any of: ^frontend/src/.*\.(ts|tsx)$
