Repository matthewdeaves/cookie: changes, and which pre-commit hooks are due for each by the changed paths.
All: legacy-eslint, frontend-eslint, frontend-typecheck

legacy-eslint:
  name: Legacy Lint (ESLint ES5)
  entry: npx eslint --config apps/legacy/static/legacy/.eslintrc.json --ext .js --max-warnings 0
  language: system
  pass_filenames: true

frontend-eslint:
  name: Frontend Lint (ESLint)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend Type Check (TypeScript)
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

security: Pentest round 5 fixes (v1.47.0)
  apps/core/auth.py
  apps/profiles/api.py
  docker-compose.prod.yml
  nginx/nginx.prod.conf
  tests/test_gated_endpoints_passkey.py
  tests/test_home_only_auth.py
  tests/test_nginx_security.py
Due: none

security: Pentest round 6 fixes (v1.48.0)
  apps/core/middleware.py
  cookie/settings.py
  docker-compose.prod.yml
  nginx/nginx.prod.conf
  pyproject.toml
  tests/test_entrypoint_security.py
  tests/test_middleware.py
  tests/test_nginx_pentest_round6.py
  tests/test_nginx_runtime.py
  tests/test_nginx_security.py
Due: none

security: Pentest round 7 fixes (v1.49.0)
  apps/core/device_code_api.py
  docker-compose.prod.yml
  nginx/nginx.prod.conf
  tests/test_device_code_api.py
  tests/test_nginx_pentest_round7.py
  tests/test_nginx_runtime.py
Due: none

security: Pentest round 8 fixes (v1.50.0)
  apps/core/device_code_api.py
  apps/core/migrations/0007_remove_devicecode_attempts_remaining.py
  apps/core/models.py
  cookie/settings.py
  tests/test_device_code_api.py
Due: none

chore: pin production image to 1.50.0
  docker-compose.prod.yml
Due: none

fix(tests): remove stale EXEMPT_FILES entry for test_device_code_api.py
  tests/test_code_quality.py
Due: none

fix(auth): use CF-Connecting-IP for rate limit IP resolution to prevent X-Forwarded-For injection bypass
  apps/core/middleware.py
  tests/test_middleware.py
Due: none

fix(auth): remove CF-Connecting-IP from get_client_ip (F-26)
  apps/core/middleware.py
  tests/test_middleware.py
Due: none

security: Pentest round 10 fix (F-27) — extend scanner-block regex
  .specify/memory/constitution.md
  nginx/nginx.prod.conf
  tests/conftest.py
  tests/test_nginx_pentest_round10.py
  tests/test_nginx_runtime.py
Due: none

fix(passkey): theme toggle + self-delete work in passkey mode
  apps/core/auth_api.py
  apps/core/templates/core/privacy_policy.html
  apps/profiles/api.py
  apps/profiles/deletion.py
  frontend/src/api/client.ts
  frontend/src/components/settings/DeleteAccountSection.tsx
  frontend/src/contexts/ProfileContext.tsx
  frontend/src/test/api.test.ts
  tests/_profile_test_helpers.py
  tests/test_auth_api.py
  tests/test_profiles_api.py
  tests/test_profiles_preferences_api.py
Due: frontend-eslint, frontend-typecheck

fix(toasts): hoist Toaster above AuthProfileBridge
  frontend/src/router.tsx
Due: frontend-eslint, frontend-typecheck

chore(release): bump prod compose pin to 1.54.0
  docker-compose.prod.yml
Due: none

security: gate /api/recipes/search/ behind SessionAuth (F-28)
  apps/recipes/api.py
  docker-compose.prod.yml
  docker-compose.yml
  tests/test_code_quality.py
  tests/test_recipes_api.py
Due: none

test(search): use transaction=True + bump file-size ceiling
  tests/test_code_quality.py
  tests/test_recipes_api.py
Due: none

deps: regenerate requirements.lock to pull lxml 6.1.0 (CVE-2026-41066)
  requirements.lock
Due: none

ci: reduce Actions storage + minutes usage
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
Due: none

docs(privacy): rewrite policy for hosted passkey instance
  apps/core/templates/core/privacy_policy.html
Due: none

chore(release): bump prod compose pin to 1.55.1
  docker-compose.prod.yml
Due: none

feat(quotas): lower default daily AI limits to cap hosted-instance cost
  apps/core/migrations/0008_lower_ai_quota_defaults.py
  apps/core/migrations/0009_lower_ai_quota_defaults_further.py
  apps/core/models.py
Due: none

fix(ux): user-friendly errors, dark mode, unit prefs, and hook paths
  .claude/settings.json
  apps/ai/services/quota.py
  apps/core/context_processors.py
  apps/legacy/static/legacy/css/components.css
  apps/legacy/static/legacy/js/ai-error.js
  apps/legacy/static/legacy/js/pages/collections.js
  apps/legacy/static/legacy/js/pages/home.js
  apps/legacy/static/legacy/js/pages/search.js
  apps/legacy/static/legacy/js/pages/settings-general.js
  apps/legacy/templates/legacy/base.html
  apps/legacy/templates/legacy/settings.html
  apps/recipes/services/search_parsers.py
  frontend/src/components/RemixModal.tsx
  frontend/src/contexts/AIStatusContext.tsx
  frontend/src/contexts/ProfileContext.tsx
  frontend/src/hooks/useDiscoverTab.ts
  frontend/src/hooks/useRecipeDetail.ts
  frontend/src/hooks/useSearch.ts
  frontend/src/hooks/useServingScale.ts
  frontend/src/hooks/useTipsPolling.ts
  frontend/src/main.tsx
  frontend/src/router.tsx
  frontend/src/screens/Home.tsx
  frontend/src/screens/RecipeDetail.tsx
  frontend/src/test/Home.test.tsx
  frontend/src/test/RecipeDetail.test.tsx
  frontend/src/test/SettingsComponents.test.tsx
  frontend/src/test/useRecipeDetail.test.ts
  nginx/security-headers.conf
  tests/test_nginx_security.py
Due: legacy-eslint, frontend-eslint, frontend-typecheck

feat(home): detect URL in search and import directly on modern frontend
  frontend/src/screens/Home.tsx
  frontend/src/test/Home.test.tsx
Due: frontend-eslint, frontend-typecheck

feat(settings): show unit preference toggle in modern frontend
  frontend/src/components/settings/SettingsGeneral.tsx
Due: frontend-eslint, frontend-typecheck

feat(search): detect URL in search bar and import directly
  frontend/src/hooks/useSearch.ts
Due: frontend-eslint, frontend-typecheck

fix(scaling): use profile unit preference for AI ingredient scaling
  apps/legacy/static/legacy/js/pages/detail-scaling.js
  apps/legacy/templates/legacy/home.html
  apps/legacy/templates/legacy/search.html
  frontend/src/hooks/useRecipeDetail.ts
  frontend/src/hooks/useServingScale.ts
Due: legacy-eslint, frontend-eslint, frontend-typecheck

fix(search): update placeholder text to mention URL import in search screen
  frontend/src/screens/Search.tsx
  frontend/src/test/Search.test.tsx
Due: frontend-eslint, frontend-typecheck

Path conditions:
  legacy-eslint: any of: ^apps/legacy/static/legacy/js/.*\.js$
  frontend-eslint: any of: ^frontend/src/.*\.(ts|tsx)$
  frontend-typecheck: any of: ^frontend/src/.*\.(ts|tsx)$
