Repository matthewdeaves/cookie: changes, and which pre-commit hooks are due for each by the changed paths.
All: legacy-eslint, frontend-eslint, frontend-typecheck

legacy-eslint:
  name: Legacy Lint (ESLint ES5)
  entry: npx eslint --config apps/legacy/static/legacy/.eslintrc.json --ext .js --max-warnings 0
  language: system
  pass_filenames: true

frontend-eslint:
  name: Frontend Lint (ESLint)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend Type Check (TypeScript)
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

deps: Upgrade lucide-react 0.563.0 → 1.7.0
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/settings/SettingsGeneral.tsx
Due: frontend-eslint, frontend-typecheck

fix: Improve test coverage, code quality, and metrics dashboard
  .github/scripts/generate-dashboard.py
  .github/workflows/coverage.yml
  apps/core/management/commands/cookie_admin.py
  frontend/src/test/AllRecipes.test.tsx
  frontend/src/test/RemixModal.test.tsx
  frontend/src/test/Search.test.tsx
  tests/test_admin_cli.py
  tests/test_ai_quota.py
  tests/test_auth_api.py
  tests/test_cookie_admin.py
  tests/test_device_code_api.py
  tests/test_device_detection.py
  tests/test_legacy_auth.py
  tests/test_legacy_collections.py
  tests/test_legacy_play_mode.py
  tests/test_legacy_recipe_detail.py
  tests/test_legacy_template_tags.py
  tests/test_legacy_views.py
  tests/test_mode.py
  tests/test_passkey_api.py
  tests/test_profiles_utils.py
  tests/test_search.py
Due: frontend-eslint, frontend-typecheck

fix: Resolve CodeQL incomplete URL substring sanitization alert
  tests/test_legacy_recipe_detail.py
Due: none

fix: Update CI to reference renamed test_cookie_admin.py
  .github/workflows/ci.yml
Due: none

docs: Update privacy policy with search, images, and rate limiting disclosures
  apps/core/templates/core/privacy_policy.html
Due: none

security: Fix 13 vulnerabilities found during penetration testing
  CLAUDE.md
  apps/ai/api.py
  apps/ai/api_discover.py
  apps/ai/api_remix.py
  apps/ai/api_scaling.py
  apps/ai/services/openrouter.py
  apps/ai/services/quota.py
  apps/core/auth.py
  apps/core/device_code_api.py
  apps/core/passkey_api.py
  apps/core/validators.py
  apps/profiles/api.py
  apps/recipes/api.py
  apps/recipes/services/image_cache.py
  apps/recipes/services/scraper.py
  apps/recipes/services/search.py
  cookie/settings.py
  tests/test_ai_quota.py
  tests/test_device_code_api.py
  tests/test_passkey_api.py
  tests/test_ssrf.py
Due: none

test: Add AI API endpoint tests, profiles API tests, and fix act() warnings
  frontend/src/test/Home.test.tsx
  tests/test_ai_api.py
  tests/test_profiles_api.py
Due: frontend-eslint, frontend-typecheck

fix: Resolve CodeQL false positive for SHA-256 cache key hashing
  apps/ai/services/openrouter.py
Due: none

feat: Highlight active navigation icon on both frontends
  apps/legacy/static/legacy/css/layout.css
  apps/legacy/static/legacy/js/app.js
  frontend/src/components/NavHeader.tsx
Due: legacy-eslint, frontend-eslint, frontend-typecheck

fix: Default SECURE_SSL_REDIRECT to false for reverse proxy deployments
  cookie/settings.py
Due: none

fix: Keep PWA navigation inside standalone shell on iOS legacy frontend
  apps/legacy/static/legacy/js/app.js
Due: legacy-eslint

feat: Redesign legacy cook mode layout + fix unauthenticated API endpoints
  apps/ai/api.py
  apps/ai/api_discover.py
  apps/core/auth.py
  apps/legacy/static/legacy/css/play-mode.css
  apps/legacy/static/legacy/js/pages/play-timers.js
  apps/legacy/static/legacy/js/pages/play.js
  apps/legacy/templates/legacy/partials/timer_panel.html
  apps/legacy/templates/legacy/play_mode.html
  apps/profiles/api.py
  apps/recipes/api.py
  apps/recipes/sources_api.py
  frontend/src/components/QuickTimerButtons.tsx
  frontend/src/components/TimerPanel.tsx
  frontend/src/test/TimerPanel.test.tsx
  nginx/nginx.prod.conf
  nginx/security-headers.conf
  tests/test_ai_api.py
  tests/test_ai_discover.py
  tests/test_ai_quota.py
  tests/test_mode.py
  tests/test_permissions.py
  tests/test_profiles_api.py
  tests/test_recipes_api.py
  tests/test_sources_api.py
  tests/test_user_features.py
Due: legacy-eslint, frontend-eslint, frontend-typecheck

chore: Add pentest findings, cook mode mockup, and tooling updates
  .claude/commands/speckit.analyze.md
  .claude/commands/speckit.clarify.md
  .gitignore
  .specify/init-options.json
  PENTEST-FINDINGS-2026-04-01.md
  mockups/legacy-cook-mode.html
Due: none

chore: Gitignore speckit integration artifacts
  .gitignore
Due: none

chore: Gitignore root mockup PNGs
  .gitignore
Due: none

feat: Redesign modern frontend cook mode with landscape split layout
  frontend/src/components/DetectedTimers.tsx
  frontend/src/components/InstructionDisplay.tsx
  frontend/src/components/PlayModeControls.tsx
  frontend/src/components/QuickTimerButtons.tsx
  frontend/src/components/TimerPanel.tsx
  frontend/src/components/TimerWidget.tsx
  frontend/src/screens/PlayMode.tsx
Due: frontend-eslint, frontend-typecheck

fix: Remove incorrect step-dot assertion from legacy play mode test
  tests/test_legacy_play_mode.py
Due: none

security: Fix pentest findings and eliminate all test warnings
  PENTEST-FINDINGS-2026-04-02.md
  apps/ai/api.py
  apps/ai/api_discover.py
  apps/ai/api_quotas.py
  apps/ai/api_remix.py
  apps/ai/api_scaling.py
  apps/core/api.py
  apps/core/auth_api.py
  apps/core/device_code_api.py
  apps/core/passkey_api.py
  apps/core/validators.py
  apps/profiles/api.py
  apps/recipes/api.py
  apps/recipes/api_user.py
  apps/recipes/services/image_cache.py
  apps/recipes/services/scraper.py
  apps/recipes/services/search.py
  apps/recipes/sources_api.py
  cookie/settings.py
  cookie/urls.py
  pytest.ini
  tests/test_passkey_api.py
  tests/test_ssrf.py
  tests/test_ssrf_validator.py
  tests/test_user_features.py
Due: none

fix: Legacy cook mode iPad improvements from real-device testing
  apps/legacy/static/legacy/css/play-mode.css
  apps/legacy/static/legacy/js/pages/play-timers.js
  apps/legacy/static/legacy/js/time-detect.js
Due: legacy-eslint

security: Protect legacy settings admin screens from non-admin users
  apps/legacy/templates/legacy/settings.html
  apps/legacy/views.py
Due: none

test: Add coverage for legacy settings admin protection
  tests/test_legacy_auth.py
Due: none

fix: Suppress WhiteNoise staticfiles warning in CI test runs
  pytest.ini
Due: none

fix: Broaden WhiteNoise staticfiles warning filter for CI
  pytest.ini
Due: none

security: Fix pentest findings - CSP unsafe-inline and stored XSS
  PENTEST-FINDINGS-2026-04-01.md
  PENTEST-FINDINGS-2026-04-02-v2.md
  PENTEST-FINDINGS-2026-04-02.md
  apps/legacy/static/legacy/css/device-pair.css
  apps/legacy/static/legacy/css/layout.css
  apps/legacy/static/legacy/js/app.js
  apps/legacy/static/legacy/js/pages/device-pair.js
  apps/legacy/static/legacy/js/pages/play.js
  apps/legacy/static/legacy/js/pages/settings-users.js
  apps/legacy/templates/legacy/collections.html
  apps/legacy/templates/legacy/device_pair.html
  apps/legacy/templates/legacy/home.html
  apps/legacy/templates/legacy/partials/nav_header.html
  apps/legacy/templates/legacy/partials/timer.html
  apps/legacy/templates/legacy/partials/timer_panel.html
  apps/legacy/templates/legacy/play_mode.html
  apps/legacy/templates/legacy/profile_selector.html
  apps/recipes/services/sanitizer.py
  apps/recipes/services/scraper.py
  nginx/security-headers.conf
  requirements.txt
Due: legacy-eslint

chore: Remove pentest findings and gitignore future reports
  .gitignore
  PENTEST-FINDINGS-2026-04-02-v2.md
Due: none

test: Add settings component tests and fix nh3 lockfile
  apps/recipes/tests.py
  frontend/src/test/SettingsComponents.test.tsx
  requirements.lock
Due: frontend-eslint, frontend-typecheck

Path conditions:
  legacy-eslint: any of: ^apps/legacy/static/legacy/js/.*\.js$
  frontend-eslint: any of: ^frontend/src/.*\.(ts|tsx)$
  frontend-typecheck: any of: ^frontend/src/.*\.(ts|tsx)$
