Repository matthewdeaves/cookie: changes, and which pre-commit hooks are due for each by the changed paths.
All: legacy-eslint, frontend-eslint, frontend-typecheck

.pre-commit-config.yaml:

repos:
  # Secrets detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: |
          (?x)^(
            .*\.lock$|
            .*package-lock\.json$|
            \.secrets\.baseline$
          )$

  # Basic Python checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict

  # Python formatting/linting (uses existing ruff config)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Local hooks to match CI checks
  - repo: local
    hooks:
      # Legacy JavaScript linting (ES5, iOS 9 compatible)
      - id: legacy-eslint
        name: Legacy Lint (ESLint ES5)
        entry: npx eslint --config apps/legacy/static/legacy/.eslintrc.json --ext .js --max-warnings 0
        language: system
        files: ^apps/legacy/static/legacy/js/.*\.js$
        pass_filenames: true

      # Frontend ESLint
      - id: frontend-eslint
        name: Frontend Lint (ESLint)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/src/.*\.(ts|tsx)$
        pass_filenames: false

      # Frontend TypeScript type check
      - id: frontend-typecheck
        name: Frontend Type Check (TypeScript)
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/src/.*\.(ts|tsx)$
        pass_filenames: false

Upgrade to eslint 10 with full React hooks compiler rules compliance
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/AddToCollectionDropdown.tsx
  frontend/src/components/RemixModal.tsx
  frontend/src/components/settings/AIQuotaSection.tsx
  frontend/src/contexts/AIStatusContext.tsx
  frontend/src/hooks/useHomeData.ts
  frontend/src/hooks/usePasskeys.ts
  frontend/src/hooks/useRecipeDetail.ts
  frontend/src/hooks/useSearch.ts
  frontend/src/hooks/useSettingsData.ts
  frontend/src/hooks/useStoredProfile.ts
  frontend/src/hooks/useTipsPolling.ts
  frontend/src/screens/AllRecipes.tsx
  frontend/src/screens/Favorites.tsx
  frontend/src/screens/PasskeyManage.tsx
Due: frontend-eslint, frontend-typecheck

Security hardening: HSTS preload, cron permissions, safe innerHTML wrapper
  apps/legacy/static/legacy/js/pages/detail-remix.js
  apps/legacy/static/legacy/js/pages/detail-scaling.js
  apps/legacy/static/legacy/js/pages/detail-tips.js
  apps/legacy/static/legacy/js/pages/detail.js
  apps/legacy/static/legacy/js/pages/home.js
  apps/legacy/static/legacy/js/pages/play-timers.js
  apps/legacy/static/legacy/js/pages/play.js
  apps/legacy/static/legacy/js/pages/search.js
  apps/legacy/static/legacy/js/pages/settings-danger.js
  apps/legacy/static/legacy/js/pages/settings-selectors.js
  apps/legacy/static/legacy/js/pages/settings-sources.js
  apps/legacy/static/legacy/js/pages/settings-users.js
  apps/legacy/static/legacy/js/pages/settings.js
  apps/legacy/static/legacy/js/utils.js
  entrypoint.prod.sh
  nginx/security-headers.conf
  tests/test_nginx_security.py
Due: legacy-eslint

Harden CSP and /system/reset/ endpoint
  apps/core/api.py
  nginx/security-headers.conf
Due: none

Disable web reset in passkey mode, fix CVEs, tighten CSP
  CLAUDE.md
  Dockerfile
  Dockerfile.prod
  apps/core/api.py
  apps/core/management/commands/cookie_admin.py
  frontend/src/screens/Settings.tsx
  requirements-ci.txt
  requirements.lock
  requirements.txt
  tests/test_system_api.py
Due: frontend-eslint, frontend-typecheck

Hide reset UI in legacy frontend for passkey mode
  apps/legacy/templates/legacy/settings.html
  tests/test_legacy_auth.py
Due: none

Require --confirm flag for non-interactive cookie_admin reset
  CLAUDE.md
  apps/core/management/commands/cookie_admin.py
Due: none

Add cookie_admin reset tests, fix ServingAdjustment import
  apps/core/management/commands/cookie_admin.py
  tests/test_cookie_admin.py
Due: none

Fix duplicate X-Frame-Options, bump cryptography for CVE
  nginx/security-headers.conf
  requirements-ci.txt
  requirements.lock
  requirements.txt
  tests/test_nginx_security.py
Due: none

Remove arbitrary URL import, restrict scrape to known sources
  .claude/skills/qa-auto/reference.md
  README.md
  apps/legacy/static/legacy/css/components.css
  apps/legacy/static/legacy/js/pages/search.js
  apps/legacy/templates/legacy/home.html
  apps/legacy/templates/legacy/search.html
  apps/legacy/views.py
  apps/recipes/api.py
  frontend/src/components/URLImportCard.tsx
  frontend/src/hooks/useSearch.ts
  frontend/src/screens/Home.tsx
  frontend/src/screens/Search.tsx
  frontend/src/test/Home.test.tsx
  frontend/src/test/Search.test.tsx
  frontend/src/test/components.test.tsx
  tests/test_legacy_views.py
  tests/test_recipes_api.py
Due: legacy-eslint, frontend-eslint, frontend-typecheck

deps(npm): Pin eslint-plugin-react-hooks to stable 7.1.1
  frontend/package-lock.json
  frontend/package.json
Due: none

Lock admin surface to home mode; add CLI parity for passkey ops
  CLAUDE.md
  apps/ai/api.py
  apps/ai/api_quotas.py
  apps/core/api.py
  apps/core/auth.py
  apps/core/management/commands/cookie_admin.py
  apps/legacy/templates/legacy/settings.html
  apps/profiles/api.py
  apps/recipes/api.py
  apps/recipes/services/source_health.py
  apps/recipes/sources_api.py
  cookie/settings.py
  frontend/src/api/types.ts
  frontend/src/router.tsx
  frontend/src/screens/Settings.tsx
  frontend/src/test/Settings.passkey-hide.test.tsx
  tests/test_ai_api.py
  tests/test_ai_quota.py
  tests/test_cookie_admin.py
  tests/test_gated_endpoints_passkey.py
  tests/test_home_only_admin_auth.py
  tests/test_legacy_auth.py
  tests/test_mode.py
  tests/test_permissions.py
  tests/test_profiles_api.py
  tests/test_system_api.py
Due: frontend-eslint, frontend-typecheck

Track speckit feature specs in the repo
  .gitignore
  specs/012-filter-search-results/checklists/requirements.md
  specs/012-filter-search-results/data-model.md
  specs/012-filter-search-results/plan.md
  specs/012-filter-search-results/quickstart.md
  specs/012-filter-search-results/research.md
  specs/012-filter-search-results/spec.md
  specs/012-filter-search-results/tasks.md
  specs/013-admin-home-only/analysis.md
  specs/013-admin-home-only/checklists/requirements.md
  specs/013-admin-home-only/checklists/security.md
  specs/013-admin-home-only/contracts/cli-subcommands.md
  specs/013-admin-home-only/contracts/gated-endpoints.md
  specs/013-admin-home-only/data-model.md
  specs/013-admin-home-only/pentest-handoff.md
  specs/013-admin-home-only/plan.md
  specs/013-admin-home-only/quickstart.md
  specs/013-admin-home-only/release-steps.md
  specs/013-admin-home-only/research.md
  specs/013-admin-home-only/spec.md
  specs/013-admin-home-only/tasks.md
Due: none

Retire is_staff; consolidate privilege on Profile.unlimited_ai
  .specify/memory/constitution.md
  CLAUDE.md
  apps/ai/api.py
  apps/ai/api_quotas.py
  apps/ai/services/quota.py
  apps/core/api.py
  apps/core/auth.py
  apps/core/auth_helpers.py
  apps/core/management/commands/cookie_admin.py
  apps/legacy/templates/legacy/settings.html
  apps/legacy/views.py
  apps/profiles/api.py
  apps/recipes/api.py
  apps/recipes/sources_api.py
  cookie/settings.py
  frontend/src/api/types.ts
  frontend/src/contexts/AuthContext.tsx
  frontend/src/test/AuthContext.test.tsx
  specs/014-remove-is-staff/checklists/requirements.md
  specs/014-remove-is-staff/contracts/auth-classes.md
  specs/014-remove-is-staff/contracts/cli-output-shapes.md
  specs/014-remove-is-staff/contracts/gated-endpoints.md
  specs/014-remove-is-staff/data-model.md
  specs/014-remove-is-staff/plan.md
  specs/014-remove-is-staff/quickstart.md
  specs/014-remove-is-staff/research.md
  specs/014-remove-is-staff/spec.md
  specs/014-remove-is-staff/tasks.md
  tests/test_ai_quota.py
  tests/test_auth_api.py
  tests/test_cookie_admin.py
  tests/test_home_only_auth.py
  tests/test_legacy_auth.py
  tests/test_no_is_staff_reads.py
  tests/test_passkey_api.py
  tests/test_permissions.py
  tests/test_profiles_api.py
  tests/test_system_api.py
Due: frontend-eslint, frontend-typecheck

Security hardening round 2: secrets, sessions, CSRF, gates, profile-ID UX
  .github/dependabot.yml
  CLAUDE.md
  Dockerfile.prod
  apps/core/auth_api.py
  apps/core/management/commands/cookie_admin.py
  apps/legacy/static/legacy/js/pages/search.js
  apps/legacy/templates/legacy/settings.html
  apps/profiles/api.py
  cookie/settings.py
  crontab
  docker-compose.prod.yml
  entrypoint.prod.sh
  frontend/src/components/settings/SettingsGeneral.tsx
  pyproject.toml
  specs/015-security-review-fixes/checklists/requirements.md
  specs/015-security-review-fixes/contracts/auth-logout.md
  specs/015-security-review-fixes/contracts/cookie-admin-create-session.md
  specs/015-security-review-fixes/contracts/cookie-admin-set-unlimited.md
  specs/015-security-review-fixes/contracts/dependabot-config.md
  specs/015-security-review-fixes/data-model.md
  specs/015-security-review-fixes/plan.md
  specs/015-security-review-fixes/quickstart.md
  specs/015-security-review-fixes/research.md
  specs/015-security-review-fixes/spec.md
  specs/015-security-review-fixes/tasks.md
  tests/test_code_quality.py
  tests/test_cookie_admin.py
  tests/test_csrf.py
  tests/test_legacy_innerhtml_chokepoint.py
  tests/test_nginx_security.py
  tests/test_passkey_logout_replay.py
Due: legacy-eslint, frontend-eslint, frontend-typecheck

fix(dockerfile): add SHELL pipefail for supercronic sha256sum pipe
  Dockerfile.prod
Due: none

Build supercronic from source with Go 1.26.2 to fix Trivy CVEs
  Dockerfile.prod
Due: none

Fix Hadolint DL3003: use WORKDIR instead of cd in supercronic build
  Dockerfile.prod
Due: none

fix(prod): Use unprefixed semver tag for production image pin
  CLAUDE.md
  docker-compose.prod.yml
Due: none

security: Pentest round 3 fixes + COOKIE_VERSION build-arg pipeline (v1.45.0)
  .github/scripts/generate-dashboard.py
  .github/workflows/cd.yml
  Dockerfile.prod
  apps/core/management/commands/_cookie_admin_app.py
  apps/core/management/commands/_cookie_admin_resources.py
  apps/core/management/commands/_cookie_admin_users.py
  apps/core/management/commands/cookie_admin.py
  apps/core/middleware.py
  apps/profiles/api.py
  apps/recipes/api.py
  cookie/settings.py
  docker-compose.prod.yml
  nginx/nginx.prod.conf
  tests/test_auth_api.py
  tests/test_code_quality.py
  tests/test_cookie_admin.py
  tests/test_cookie_version.py
  tests/test_database_config.py
  tests/test_gated_endpoints_passkey.py
  tests/test_home_only_auth.py
  tests/test_nginx_security.py
  tests/test_no_is_staff_reads.py
  tests/test_recipes_api.py
  tests/test_security_headers.py
Due: none

security: Pentest round 4 fixes (v1.46.0)
  docker-compose.prod.yml
  nginx/nginx.prod.conf
  tests/test_nginx_security.py
Due: none

fix(ci): Set COOKIE_VERSION in pytest/migration/deploy jobs
  .github/workflows/ci.yml
Due: none

docs: Require green GitHub Actions before cutting a release
  CLAUDE.md
Due: none
