Repository matthewdeaves/cookie: changes, and which pre-commit hooks are due for each by the changed paths.
All: legacy-eslint, frontend-eslint, frontend-typecheck

legacy-eslint:
  name: Legacy Lint (ESLint ES5)
  entry: npx eslint --config apps/legacy/static/legacy/.eslintrc.json --ext .js --max-warnings 0
  language: system
  pass_filenames: true

frontend-eslint:
  name: Frontend Lint (ESLint)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend Type Check (TypeScript)
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

deps: Upgrade Python from 3.12 to 3.14
  CLAUDE.md
  Dockerfile
  Dockerfile.prod
  requirements-ci.txt
  requirements.lock
Due: none

ci: Update CI Python version from 3.12 to 3.14
  .github/workflows/ci.yml
  Dockerfile.prod
  requirements-ci.in
  requirements-ci.txt
Due: none

deps: Upgrade Python from 3.12 to 3.14 (#66)
  .github/workflows/ci.yml
  CLAUDE.md
  Dockerfile
  Dockerfile.prod
  requirements-ci.in
  requirements-ci.txt
  requirements.lock
Due: none

deps: Upgrade TypeScript 5.9 to 6.0.2 in frontend
  frontend/package-lock.json
  frontend/package.json
Due: none

security: Fix 30 code scanning alerts
  .github/scripts/generate-dashboard.py
  .github/scripts/generate-frontend-complexity-report.js
  .github/scripts/generate-secrets-report.py
  .github/workflows/ci.yml
  .secrets.baseline
  apps/ai/tests.py
  apps/recipes/services/search_parsers.py
  tests/test_legacy_views.py
  tests/test_search.py
Due: none

security: Fix 30 code scanning alerts (#68)
  .github/scripts/generate-dashboard.py
  .github/scripts/generate-frontend-complexity-report.js
  .github/scripts/generate-secrets-report.py
  .github/workflows/ci.yml
  .secrets.baseline
  apps/ai/tests.py
  apps/recipes/services/search_parsers.py
  tests/test_legacy_views.py
  tests/test_search.py
Due: none

security: Fix race conditions, auth bypasses, and info leakage
  apps/core/api.py
  apps/core/device_code_api.py
  apps/core/migrations/0005_passkey_field_fixes.py
  apps/core/models.py
  apps/core/passkey_api.py
  apps/legacy/static/legacy/js/pages/device-pair.js
  frontend/package-lock.json
  frontend/src/screens/PasskeyManage.tsx
  frontend/src/screens/Settings.tsx
  frontend/src/test/PasskeyScreens.test.tsx
Due: legacy-eslint, frontend-eslint, frontend-typecheck

security: Fix race conditions, auth bypasses, and info leakage (#69)
  apps/core/api.py
  apps/core/device_code_api.py
  apps/core/migrations/0005_passkey_field_fixes.py
  apps/core/models.py
  apps/core/passkey_api.py
  apps/legacy/static/legacy/js/pages/device-pair.js
  frontend/package-lock.json
  frontend/src/screens/PasskeyManage.tsx
  frontend/src/screens/Settings.tsx
  frontend/src/test/PasskeyScreens.test.tsx
Due: legacy-eslint, frontend-eslint, frontend-typecheck

security: Production hardening from comprehensive audit
  Dockerfile.prod
  apps/ai/api_discover.py
  apps/legacy/static/legacy/js/pages/detail-remix.js
  apps/legacy/static/legacy/js/pages/detail.js
  apps/legacy/static/legacy/js/pages/play.js
  apps/profiles/api.py
  entrypoint.prod.sh
  nginx/nginx.prod.conf
  nginx/security-headers.conf
Due: legacy-eslint

security: Production hardening from comprehensive audit (#70)
  Dockerfile.prod
  apps/ai/api_discover.py
  apps/legacy/static/legacy/js/pages/detail-remix.js
  apps/legacy/static/legacy/js/pages/detail.js
  apps/legacy/static/legacy/js/pages/play.js
  apps/profiles/api.py
  entrypoint.prod.sh
  nginx/nginx.prod.conf
  nginx/security-headers.conf
Due: legacy-eslint

fix: Set DJANGO_SETTINGS_MODULE in prod entrypoint db wait loop
  entrypoint.prod.sh
Due: none

fix: Remove SSL from prod nginx config (TLS terminated externally)
  docs/CLOUDFLARE-SETUP.md
  nginx/nginx.prod.conf
Due: none

fix: Pass through X-Forwarded-Proto from upstream proxy in prod nginx
  docker-compose.prod.yml
  nginx/nginx.prod.conf
Due: none

docs: Add versioning rules to CLAUDE.md
  CLAUDE.md
Due: none

fix: Rate limiter crash on multi-proxy X-Forwarded-For, sanitise error output
  apps/core/middleware.py
  cookie/settings.py
  frontend/src/api/client.ts
  frontend/src/test/api.test.ts
Due: frontend-eslint, frontend-typecheck

feat: Support OPENROUTER_API_KEY env var for infrastructure-managed config
  apps/core/models.py
  docker-compose.prod.yml
Due: none

feat: Remove public auth mode, keep only home and passkey (#014)
  .secrets.baseline
  .specify/memory/constitution.md
  CLAUDE.md
  apps/ai/api_discover.py
  apps/core/api.py
  apps/core/auth.py
  apps/core/auth_api.py
  apps/core/email_service.py
  apps/core/management/commands/cleanup_unverified.py
  apps/core/management/commands/cookie_admin.py
  apps/core/templates/core/verification_email.html
  apps/core/templates/core/verification_email.txt
  apps/core/templates/core/verification_failed.html
  apps/legacy/templates/legacy/login.html
  apps/legacy/templates/legacy/register.html
  apps/legacy/urls.py
  apps/legacy/views.py
  apps/profiles/api.py
  cookie/settings.py
  docker-compose.mailpit.yml
  docker-compose.override.yml
  entrypoint.prod.sh
  entrypoint.sh
  frontend/src/api/client.ts
  frontend/src/api/types.ts
  frontend/src/contexts/AuthContext.tsx
  frontend/src/router.tsx
  frontend/src/screens/Login.tsx
  frontend/src/screens/Register.tsx
  frontend/src/test/AuthContext.test.tsx
  frontend/src/test/contexts.test.tsx
  tests/test_admin_cli.py
  tests/test_auth.py
  tests/test_email_privacy.py
  tests/test_mode.py
  tests/test_permissions.py
Due: frontend-eslint, frontend-typecheck

fix: CI failures — TypeScript build error, coverage threshold
  frontend/src/screens/Settings.tsx
  pyproject.toml
  tests/test_middleware.py
Due: frontend-eslint, frontend-typecheck

fix: CI references deleted test_email_privacy.py
  .github/workflows/ci.yml
  .secrets.baseline
Due: none

fix: WebAuthn origin mismatch and empty-server login UX
  apps/core/passkey_api.py
  frontend/src/screens/PasskeyLogin.tsx
Due: frontend-eslint, frontend-typecheck

feat: Add status and audit subcommands to cookie_admin CLI
  apps/ai/services/ranking.py
  apps/core/management/commands/cookie_admin.py
  frontend/eslint.config.js
  tests/test_admin_cli.py
Due: none

docs: Update CLAUDE.md with cookie_admin status/audit commands
  CLAUDE.md
Due: none

security: Hide admin-only settings from non-admin users
  frontend/src/components/settings/SettingsGeneral.tsx
  frontend/src/screens/Settings.tsx
Due: frontend-eslint, frontend-typecheck

feat: Show app version in Settings, clean up stale prod env vars
  apps/core/api.py
  cookie/settings.py
  docker-compose.prod.yml
  frontend/src/api/types.ts
  frontend/src/components/settings/SettingsGeneral.tsx
  frontend/src/router.tsx
  tests/test_mode.py
Due: frontend-eslint, frontend-typecheck

fix: Cache race condition, slow discover, cleanup guard
  apps/ai/services/discover.py
  apps/core/cache.py
  apps/core/management/commands/cleanup_device_codes.py
  cookie/settings.py
  tests/test_ai_discover.py
Due: none

feat: Passkeys and Pair Device as inline Settings tabs
  frontend/src/components/settings/SettingsPasskeys.tsx
  frontend/src/router.tsx
  frontend/src/screens/Settings.tsx
Due: frontend-eslint, frontend-typecheck

Path conditions:
  legacy-eslint: any of: ^apps/legacy/static/legacy/js/.*\.js$
  frontend-eslint: any of: ^frontend/src/.*\.(ts|tsx)$
  frontend-typecheck: any of: ^frontend/src/.*\.(ts|tsx)$
