Repository matthewdeaves/cookie: changes, and which pre-commit hooks are due for each by the changed paths.
All: legacy-eslint, frontend-eslint, frontend-typecheck

legacy-eslint:
  name: Legacy Lint (ESLint ES5)
  entry: npx eslint --config apps/legacy/static/legacy/.eslintrc.json --ext .js --max-warnings 0
  language: system
  pass_filenames: true

frontend-eslint:
  name: Frontend Lint (ESLint)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend Type Check (TypeScript)
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

fix(ui): restore scaled times on revert, mobile remove button, missing mb-10
  apps/legacy/static/legacy/css/layout.css
  apps/legacy/static/legacy/js/pages/detail-scaling.js
  frontend/src/screens/CollectionDetail.tsx
Due: legacy-eslint, frontend-eslint, frontend-typecheck

fix(ui): align Favorites heading inside max-w-4xl container
  frontend/src/screens/Favorites.tsx
Due: frontend-eslint, frontend-typecheck

fix(legacy): use Cookie.ajax for AI timer-name POST to include CSRF token
  apps/legacy/static/legacy/js/pages/play.js
Due: legacy-eslint

chore(legacy): delete orphaned detail.js monolith
  apps/legacy/static/legacy/js/pages/detail.js
  apps/legacy/static/legacy/package-lock.json
  apps/legacy/static/legacy/package.json
Due: legacy-eslint

fix(legacy-js): resolve all ESLint errors and complexity violations
  apps/legacy/static/legacy/eslint.config.mjs
  apps/legacy/static/legacy/js/pages/all-recipes.js
  apps/legacy/static/legacy/js/pages/detail-scaling.js
  apps/legacy/static/legacy/js/pages/settings-general.js
Due: legacy-eslint

chore(legacy-js): delete orphaned monolithic settings.js
  apps/legacy/static/legacy/js/pages/settings.js
Due: legacy-eslint

fix(import): show backend error message on URL import failure
  apps/legacy/static/legacy/js/pages/home.js
  apps/legacy/static/legacy/js/pages/search.js
  frontend/src/hooks/useSearch.ts
  frontend/src/screens/Home.tsx
Due: legacy-eslint, frontend-eslint, frontend-typecheck

fix(legacy-js): use backend error messages in collection/favorites handlers
  apps/legacy/static/legacy/js/pages/collection-detail.js
  apps/legacy/static/legacy/js/pages/detail-collections.js
  apps/legacy/static/legacy/js/pages/detail-favorites.js
Due: legacy-eslint

fix(legacy-js): show backend error message on profile load failure
  apps/legacy/static/legacy/js/pages/settings-users.js
Due: legacy-eslint

fix(frontend): add cancellation flags and backend error messages to collection hooks
  frontend/src/hooks/useCollectionData.ts
  frontend/src/hooks/useCollectionsPage.ts
  frontend/src/screens/ProfileSelector.tsx
Due: frontend-eslint, frontend-typecheck

fix(scraper): raise specific FetchError for 404 and 429 HTTP responses
  apps/recipes/services/scraper.py
Due: none

fix(security): enforce recipe ownership in favorites, collections, and history endpoints
  apps/recipes/api_user.py
Due: none

chore(release): bump prod compose pin to 1.56.0
  docker-compose.prod.yml
Due: none

fix(security): close R14 pentest findings INFO-4 and INFO-5
  apps/profiles/api.py
  cookie/urls.py
  tests/test_profiles_preferences_api.py
  tests/test_scrape_content_type.py
Due: none

chore(release): bump prod compose pin to 1.57.0
  docker-compose.prod.yml
Due: none

fix(security): block TRACE method — close R15 F-30
  apps/ai/services/quota.py
  apps/core/middleware.py
  cookie/urls.py
  docker-compose.prod.yml
  nginx/nginx.prod.conf
  tests/conftest.py
  tests/test_auth_api.py
  tests/test_device_code_api.py
  tests/test_nginx_pentest_round10.py
  tests/test_nginx_pentest_round6.py
  tests/test_nginx_pentest_round7.py
  tests/test_nginx_runtime.py
  tests/test_nginx_security.py
  tests/test_profiles_preferences_api.py
Due: none

chore(deps): bump all Python, npm, and Docker base image pins to latest
  Dockerfile
  Dockerfile.prod
  docker-compose.yml
  frontend/package-lock.json
  requirements-ci.txt
  requirements.lock
  tests/conftest.py
Due: none

fix(tests): gate nginx gateway-IP translation on /.dockerenv
  tests/conftest.py
Due: none

docs(compose): explain dev-only docker/tmp mounts on web service
  docker-compose.yml
Due: none

chore(release): bump prod compose pin to 1.59.0
  docker-compose.prod.yml
Due: none

fix(ai): atomic quota counters — close F-31 negative-counter race
  apps/ai/services/quota.py
  apps/core/cache.py
  tests/test_ai_quota_race.py
Due: none

chore(release): bump prod compose pin to 1.60.0
  docker-compose.prod.yml
Due: none

fix(lint): swap sha1 for blake2b in advisory-lock-id derivation
  apps/core/cache.py
Due: none

security(db): add defence-in-depth Postgres timeouts
  cookie/settings.py
  tests/test_database_config.py
Due: none

chore(release): bump prod compose pin to 1.61.0
  docker-compose.prod.yml
Due: none

fix(security): reject whitespace/control-char step_text in timer-name (F-32)
  apps/ai/api.py
  tests/test_ai_api.py
  tests/test_code_quality.py
Due: none

Path conditions:
  legacy-eslint: any of: ^apps/legacy/static/legacy/js/.*\.js$
  frontend-eslint: any of: ^frontend/src/.*\.(ts|tsx)$
  frontend-typecheck: any of: ^frontend/src/.*\.(ts|tsx)$
